.vscode
.idea
.codex

/assets/preset-recognition/
config.ini
subprocess-error.log

/原始更新日志.txt
/任务达人.txt

/DNFAutoFire-0.2.8/
/任务达人.md
/.workbuddy/design/implementation.md
/.workbuddy/design/overview.md
/.workbuddy/design/prototype.html
/.workbuddy/design/spec.md
/.workbuddy/memory/2026-06-26.md
